@import './utils';

.BoardView {

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    background: $PointBackground;
    height: 3px;
    border: 0;
  }

  .BoardViewWrapper {

    .HorizonalLine {
      border: 1px solid rgba(#B3B3B3, 0.5);
      width: 1270px;
      margin: 10px;
    }

    width: 1300px;
    height: 600px;
    background: $BaseBackground;

    border-radius: 20px;

    display: flex;
    flex-direction: column;

    input {
      outline: none;
      background: none;
      border: none;
    }

    #board_contents {

      width: 1270px;
      height: 100%;
      margin: 30px 30px 30px 40px;

      font-size: 20px;
      outline: none;
      background: none;
      border: none;
    }


    #board_title {
      font-size: 24px;
      margin: 0px;
      margin-top: 30px;
      margin-left: 40px;
    }
  }


  .LikeCommentWrapper {
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 10px;
      margin-left: 30px;
      width: 100px;
      height: 40px;

      outline: none;
      background: none;
      border: none;
      border-radius: 20px;
      background: $PointBackground;
    }

    button:hover{
      background-color: #92B4EC;
      cursor: pointer;
    }
  }

  }
