

.CommentList {
  width: 1300px;
  height: 100px;
  margin-top: 30px;
  border: 3px solid #FFE69A;
  border-radius: 20px;

  #comment_nick {
    margin: 10px;
    font-size: 20px;
  }

  #comment_text {
    font-size: 18px;
    margin: 12px;

  }
}