@import 'utils';

.DataRequest {

  margin-top: 30px;
  width: 1600px;
  height: 1000px;
  font-size: 24px;

  #data_request_title {
    height: 100px;
    margin: 10px;
    font-size: 36px;
  }

  .DataRequestContentsWrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 900px;


    .TitleWrapper {
      display: flex;
      height: 80px;
      flex-direction: row;
      align-items: center;
      width: inherit;
      border-top: 1px solid black;

      #request_title {
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: inherit;

      }

      input {
        border: none;
        outline: none;
        width: inherit;
        font-size: 28px;
        padding: 5px;
      }
    }

    .EtcWrapper {
      width: inherit;
      display: flex;
      height: 80px;
      flex-direction: row;
      align-items: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      #kinds_title {
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 61px;
        height: inherit;
      }

      select {
        border: none;
        outline: none;
        width: 1000px;
        font-size: 28px;

      }

      #author_title {
        width: 200px;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
      }

      #author_name {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
      }


      input {
        font-size: 24px;
        width: 400px;
        border: none;
        outline: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        height: inherit;
      }


    }

    .RequestContentsWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: inherit;
      height: inherit;

      border-bottom: 1px solid black;

      #content_title {
        border-right: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 750px;
      }

      textarea {
        border: none;
        outline: none;
        width: 1600px;
        font-size: 28px;
        padding: 5px;
      }
    }

  }

  .DataRequestContentsAnswerWrapper {
    width: inherit;
    height: 300px;
    margin-top: 15px;
    margin-right: 18px;
    border-bottom: 1px solid black;


    #answer_title {
      width: 60px;
      height: inherit;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-right: 1px solid black;
    }
  }

  button {
    display: flex;
    justify-content: center;
    background: $PointBackground;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;


  }
}