@import "utils.scss";

.EnvironmentAnalysisDetailPage {
  width: 1300px;
  height: auto;

  margin-top: 20px;

  #title {
    font-size: 24px;
    margin: 10px;
  }

  .EnvironmentWrapper {
    width: inherit;
    height: inherit;

    display: flex;
    justify-content: space-between;

    .AnalysisWrapper {
      width: 900px;
      height: inherit;

      display: flex;
      justify-content: space-between;
      background: $PointBackground;
      border-radius: 20px;


      .Analysis {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px;
        width: 590px;
        height: auto;

        background: #FFFFFF;
        border-radius: 20px;
      }

      .LineChartWrapper {
        display: flex;
        flex-direction: column;

        #temperature_line_chart {
          width: inherit;
          height: 300px;
        }
      }

      .FineDustTableWrapper {
        width: inherit;
        height: 500px;
        border: 1px solid black;
      }
    }


    .Contents {
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 300px;
        font-size: 20px;
    }
  }

  .NewsAndPolicyWrapper {
    width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .PolicyWrapper {
      margin-bottom: 50px;
    }


    .Contents{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 500px;
      height: 130px;
      background: $PointBackground;
      border-radius: 20px;
      margin-bottom: 10px;
      font-size: 20px;
      #policy_title{
        margin:10px;
        width: inherit;
        font-size: 18px;
      }

      #policy_content {
        margin:10px;
        width: inherit;
        font-size: 16px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      }

      #news_title {
        margin:10px;
        width: inherit;
        font-size: 18px;
      }

      #news_content {
        margin:10px;
        width: inherit;
        font-size: 16px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
      }

    }


    button {
      float: right;
      display: inline;
      margin-top: 10px;
      width: 100px;
      height: 40px;

      outline: none;
      background: none;
      border: none;
      border-radius: 20px;
      background: $PointBackground;
    }
  }


}

