@import './utils.scss';

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 100%;


    .SignInOrSignUpWrapper {
        position: absolute;
        top: $NavHeight;
        right: 0;

        width: 180px;
        // height: fit-content;

        margin-top: 10px;
        margin-right: 30px;

        border-radius: 30px;
        background: $PointBackground;

        display: flex;
        justify-content: center;
        align-items: center;

        .SignInButton {
            margin-right: 8px;
            cursor: pointer;
            font-size: 18px;
            height: 25px;
        }

        .SignUpButton {
            margin-left: 8px;
            cursor: pointer;
            font-size: 18px;
            height: 25px;
        }
    }


    .ContentsTitle {

        width: 200px;


        margin-right: 1600px;
        white-space: nowrap;
        margin-top: 40px;
        font-size: 30px;

        border-bottom: 4px solid $PointBackground;

    }

    .ContentsWrapper {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 1800px;
        height: 574px;
        margin-top: 20px;


        .AnalysisWrapper {

            display: flex;
            justify-content: space-between;

            width: 65%;
            min-width: 800px;
            height: 600px;

            border: 4px solid $PointBackground;
            border-radius: 20px;

            .Title {
                margin: 30px;
                font-size: 24px;
                white-space: nowrap;
            }

            .Analysis {

                align-self: center;
                margin-right: 50px;

            }
        }

        .SearchWrapper {

            display: flex;
            flex-direction: column;
            align-items: center;

            width: $SearchWrapperWidth;
            min-width: $SearchWrapperMinWidth;
            margin-left: 40px;
            height: $SearchWrapperHeight;

            background: $PointBackground;
            border-radius: 20px;

            .SearchInsert {

                position: relative;
                width: 400px;

                input {
                    position: relative;
                    z-index: 2;
                    width: 400px;
                    height: 40px;
                    font-size: 20px;

                    background-color: #FFFFFF;
                    border: none;
                    border-radius: 20px;
                    outline: none;

                    margin-top: 40px;
                    text-align: left;
                    font-size: 18px;

                }

                button {
                    position: absolute;

                    z-index: 2;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    background-color: #92B4EC;

                    border-radius: 30px;

                    width: 60px;
                    height: 40px;
                    top: 40px;
                    right: -5px;

                }
            }


            .SearchResultContainer {
                position: absolute;

                width: $SearchContentsWidth;
                height: $SearchResultContainerHeight;
                font-size: 20px;
                margin-top: 30px;

                border-radius: 20px;
                background: #FDFCE7;
            }

            .KeywordWrapper {

                position: absolute;
                margin-top: $SearchResultContainerHeight + 50px;
                width: $SearchContentsWidth;
                height: 120px;


                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-content: space-around;
                flex-wrap: wrap;


                button {
                    

                    width: 120px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 20px;
                    border: none;
                    border-radius: 30px;
                    background-color: #FFE69A;
                }

                button:hover{
                    background-color: #FFD24C;
                    cursor: pointer;
                }

            }
        }
    }

    .BoardContentsWrapper {
        position: relative;

        width: 1800px;
        height: 574px;

        margin-top: 100px;


        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .NoticeWrapper {

            min-width: 700px;
            width: 50%;
            #title {
                font-size: 30px;
                border-bottom: 3px solid #92B4EC;
            }
          .TableWrapper{

            table {
                font-size: 20px;
                margin-bottom: 30px;
                table-layout: fixed;
                width: 870px;
                border-top: 1px solid #B3B3B3;
                border-collapse: collapse;
              }

              th, td {
                position: sticky;
                text-align: center;
                border-bottom: 1px solid #B3B3B3;
                border-left: 1px solid #B3B3B3;
                padding: 10px;
              }

              .No{
                width:40px;
              }

              .Date{
                width: 150px;
              }

              th:first-child, td:first-child {
                border-left: none;
              }
        }

            .Board {
                width: 90%;
                min-width: 300px;
                height: 35px;
                margin: 30px;
                border-top: 2px solid rgba($color: #92B4EC, $alpha: 0.4);
                border-bottom: 2px solid rgba($color: #92B4EC, $alpha: 0.4);
                line-height: 35px;
                padding-left: 10px;
                font-size: 20px;
            }

        }

        .HotBoardWrapper {


            width: 50%;
            margin-left: 60px;
            #title {
                font-size: 30px;
                border-bottom: 3px solid #92B4EC;
            }

            .Board {
                width: 90%;
                min-width: 300px;
                height: 35px;
                margin: 30px;
                border-top: 2px solid rgba($color: #92B4EC, $alpha: 0.4);
                border-bottom: 2px solid rgba($color: #92B4EC, $alpha: 0.4);
                line-height: 35px;
                padding-left: 10px;
                font-size: 20px;
            }
        }


    }




}