



.Introduction {

    position: relative;
    width: 1800px;
    
    height: 574px;

    margin-top: 60px;
    

    border: 1px solid rgba($color: #000000, $alpha: 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;


    .InfoText {
        width: 40%;
        min-width: 550px;
        
        text-align: center;
        margin-left: 200px;
        font-size: 22px;
    }

    img {
        width: 45%;
        height: auto;
    }
}