@import './utils.scss';

.Mypage {
  border: 1px solid black;
  margin-top: 50px;
  width: 1600px;
  height: 800px;


  #mypage_title {
    border: 1px solid black;
    height: 100px;
    font-size: 24px;
  }

  .MypageContentsWrapper {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

    width: inherit;
    height: 700px;

    .MyInfoWrapper {
      border: 1px solid black;
      width: 600px;
      height: inherit;
      display: flex;
      flex-direction: column;

      font-size: 18px;

      #my_info_title {
        margin: 10px;
      }

      .MyInfoContents {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: inherit;
        background: $PointBackground;
        border-radius: 20px;
      }

    }

    .PostAndComments {
      width: 900px;
      border: 1px solid black;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .PostWrapper {
        border: 1px solid black;
        height: 320px;

        #post_title {
          font-size: 24px;
          margin-bottom: 20px;
        }

        .PostContentsWrapper {
          overflow: scroll;
          border: 3px solid #FFE69A;

          border-radius: 20px;
          height: 270px;
        }
      }


      .CommentWrapper {


        border: 1px solid black;
        height: 320px;

        #comment_title {
          font-size: 24px;
          margin-bottom: 20px;


        }

        .CommentContentsWrapper {
          overflow: scroll;
          border: 3px solid #FFE69A;
          height: 270px;
        }

      }

      .dummy {
        height: 135px;
        margin: 10px;
        border-radius: 20px;
        border: 3px solid $PointBackground;

        display: flex;
        justify-content: space-between;

        .ButtonWrapper {
          button{
            outline: none;
            border: none;
            color: rgba(#B3B3B3, 0.8);
            margin: 5px;
          }
        }

      }
    }
  }
}