@import './utils.scss';


.Participation {
  .ParticipationWrapper {
    a {
      text-decoration: none;
      color: black;
    }
    #title {

      font-size: 33px;
      margin-bottom: 20px;
      margin-top: 50px;
    }

    .Contents {
      margin-top: 90px;

      .SearchButtonWrapper {
        display: flex;
        // flex-direction: column;
        text-align: center;
        width: 700px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        border: 6px solid #DAE8F6;
        border-radius: 30px;

        height: 60px;
        margin-bottom: 80px;
        line-height: 60px;

        input {
          font-size: 20px;
          border: none;
          outline: none;
          height: 39px;
          border-radius: 30px;
          background-color: #DAE8F6;
          text-align: center;
          width: 500px;
        }

        button {
          font-size: 20px;
          border: none;
          outline: none;
          height: 39px;
          border-radius: 30px;
          cursor: pointer;
          text-align: center;
          background-color: #DAE8F6;
          width: 100px;
          float: right;

        }

        button:hover {
          background-color: #92B4EC;
        }
      }

      .ListWrapper {

        width: 1300px;


        .ParticipationBoardList {
          display: flex;
          flex-direction: column;

          .BoardWrapper {
            display: flex;
            justify-content: flex-start;
            border: 3px solid $PointBackground;
            border-radius: 20px;

            #number {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              border: 1px solid black;
            }
            .TitleAndContents {

              display: flex;
              flex-direction: column;
              justify-content: space-around;

              width: 1000px;
              height: 100px;

              align-content: center;
              border: 1px solid black;

              #board_title {
                font-size: 24px;
                display: flex;
                border: 1px solid black;
              }
              #board_contents {
                font-size: 20px;
                border: 1px solid black;
              }
            }
            .Etc {
              width: 250px;
              border: 1px solid black;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              #created_at {
                border: 1px solid black;
                display: flex;
                justify-content: flex-end;
              }

              .LikeAndComments {
                display: flex;
                flex-direction: row;
                #likes {

                }
                #comments{

                }
              }
            }

          }
        }


      }

      .WriteButtonWrapper {

        button {
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
          border: none;
          outline: none;
          height: 39px;
          border-radius: 30px;
          cursor: pointer;
          text-align: center;
          background-color: #FFE69A;
          width: 200px;
          float: right;
          clear: both;
          display: inline-block;
        }

        button:hover {
          background-color: #FFD24C;
        }
      }

      .ButtonWrapper {

        margin-top: 30px;

        .PreviousButtonWrapper {

          button {
            font-size: 20px;
            border: none;
            outline: none;
            height: 39px;
            border-radius: 30px;
            cursor: pointer;
            text-align: center;
            background-color: #DAE8F6;
            width: 100px;
            display: inline-block;
            margin: 0 5px;
            float: left;
            clear: both;
          }

          button:hover {
            background-color: #92B4EC;
          }
        }

        .NextButtonWrapper {
          button {
            font-size: 20px;
            border: none;
            outline: none;
            height: 39px;
            border-radius: 30px;
            cursor: pointer;
            text-align: center;
            background-color: #DAE8F6;
            width: 100px;
            display: inline-block;
            margin: 0 5px;
            float: right;
            // clear: both;
          }

          button:hover {
            background-color: #92B4EC;
          }
        }
      }
    }
  }

}