@import "utils.scss";

.SafetyAnalysisDetailPage {
  width: 1300px;
  height: auto;

  margin-top: 20px;

  #title {
    font-size: 24px;
    margin: 10px;
  }

  .SafetyWrapper {
    width: inherit;
    height: inherit;

    display: flex;
    justify-content: space-between;

    .AnalysisWrapper {
      width: 900px;
      height: inherit;

      display: flex;
      justify-content: space-between;
      background: $PointBackground;
      border-radius: 20px;

      .AnalysisDataWrapper {
        .Analysis {
          margin: 10px;
          width: 600px;
          height: auto;

          background: #FFFFFF;
          border-radius: 20px;

          .TextAnalysisWrapper {
            display: flex;
            flex-direction: column;

            #title {
              text-align: center;
            }

            #content {
              margin-top: 20px;
              font-size: 24px;
            }

            .ContentWrapper {

              height: 300px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;


              .EarthQuake {
                display: flex;
                flex-direction: column;
                align-items: center;
              }

            }

          }

          .StickChartWrapper {
            display: flex;
            flex-direction: column;

            #resistance_chart {
              width: inherit;
              height: 300px;
            }

          }

          .BubbleChartWrapper {
            display: flex;
            flex-direction: column;

            #bubble_chart {
              width: inherit;
              height: 300px;
            }

          }
        }
      }

      .Contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 300px;
      }
    }

    .NewsAndPolicyWrapper {
      width: 300px;
      height: auto;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .PolicyWrapper {
        margin-bottom: 50px;
      }


      .Contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 450px;
        height: 100px;
        background: $PointBackground;
        border-radius: 20px;
        margin-bottom: 10px;

        #policy_title {
          width: inherit;
          font-size: 18px;
        }

        #policy_content {
          width: inherit;
          font-size: 16px;

        }

        #news_title {
          width: inherit;
          font-size: 18px;
        }

        #news_content {
          width: inherit;
          font-size: 16px;

        }

      }

    }

    button {
      float: right;
      display: inline;
      margin-top: 10px;
      width: 100px;
      height: 40px;

      outline: none;
      background: none;
      border: none;
      border-radius: 20px;
      background: $PointBackground;
    }
  }


}