@import "utils.scss";

.TrafficAnalysisDetailPage {
  width: 1300px;
  height: auto;

  margin-top: 20px;

  #title {
    font-size: 24px;
    margin: 10px;
  }

  .TrafficWrapper {
    width: inherit;
    height: inherit;

    display: flex;
    justify-content: space-between;

    .AnalysisWrapper {
      width: 900px;
      height: inherit;

      display: flex;
      justify-content: space-between;
      background: $PointBackground;
      border-radius: 20px;


      .Analysis {
        margin: 10px;
        width: 590px;
        height: auto;

        background: #FFFFFF;
        border-radius: 20px;


        .LineChartWrapper {
          display: flex;
          flex-direction: column;

          #traffic_acc_chart {
            width: inherit;
            height: 300px;
          }


        }

        .BubbleChartWrapper {
          display: flex;
          flex-direction: column;

          #bubble_chart {
            width: inherit;
            height: 300px;
          }

        }
      }
    }

    .Contents {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
    }
  }

  .NewsAndPolicyWrapper {
    width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .PolicyWrapper {
      margin-bottom: 50px;
    }


    .Contents {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 450px;
      height: 100px;
      background: $PointBackground;
      border-radius: 20px;
      margin-bottom: 10px;

      #policy_title {
        width: inherit;
        font-size: 18px;
      }

      #policy_content {
        width: inherit;
        font-size: 16px;

      }

      #news_title {
        width: inherit;
        font-size: 18px;
      }

      #news_content {
        width: inherit;
        font-size: 16px;

      }

    }

    button {
      float: right;
      display: inline;
      margin-top: 10px;
      width: 100px;
      height: 40px;

      outline: none;
      background: none;
      border: none;
      border-radius: 20px;
      background: $PointBackground;
    }
  }


}

