


// Navigation
$PageSelectorWrapperWidth: 600px;
$PageSelectorMargin : 30px;

$NavHeight: 75px;
$NavBorderBottomRadius: 35px;
$BaseBackground: #F8F3E1;


// contents

$PointBackground: #DAE8F6;

// Search
$SearchWrapperWidth: 32%;
$SearchWrapperMinWidth: 500px;
$SearchWrapperHeight: 600px;

$SearchContentsWidth: 450px;
$SearchResultContainerHeight: 400px;